# Server
PORT=3001
GROQ_API_KEY=
GEMINI_API_KEY=
AI_PROVIDER=groq
AGENT_WALLET_ADDRESS=
FACILITATOR_URL=https://x402.org/facilitator
PAYMENT_NETWORK=eip155:84532

# XMTP Agent
XMTP_ENV=dev
XMTP_WALLET_KEY=
XMTP_DB_ENCRYPTION_KEY=
SERVER_URL=http://localhost:3001

# World ID
WORLD_SIGNING_KEY=
NEXT_PUBLIC_WORLD_APP_ID=
NEXT_PUBLIC_WORLD_RP_ID=

# Web
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_XMTP_AGENT_ADDRESS=
