# Server
PORT=3001
GROQ_API_KEY=
GEMINI_API_KEY=
AI_PROVIDER=groq
AGENT_WALLET_PRIVATE_KEY=
AGENT_WALLET_ADDRESS=
FACILITATOR_URL=https://x402.org/facilitator
PAYMENT_NETWORK=eip155:84532
USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e

# XMTP Agent
XMTP_ENV=dev
XMTP_WALLET_KEY=
XMTP_DB_ENCRYPTION_KEY=
SERVER_URL=http://localhost:3001

# Web
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_XMTP_AGENT_ADDRESS=
